@inject IProductService productService;
@inject IJSRuntime js

@if (products.Count > 0)
{
    <div class="products-container">
        @foreach (var product in products)
        {
            <div class="card">
                <img class="card-img-top" src="@product.Images[0]" alt="Product" loading="lazy" width="270" height="210">
                <div class="card-body">
                    <h4><b>@product.Title</b></h4>
                    <p>@product.Price.ToString("C")</p>
                    <p>@product.Id</p>
                    <button class="btn btn-primary" @onclick="() => DeleteProduct(product)"><span class="oi--trash"></span></button>
                </div>
            </div>
        }
    </div>
}
else
{
    <p><em>No Information to show</em></p>
}


@code{
    private List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await GetProducts();
    }

    private async Task<List<Product>> GetProducts()
    {
        return await productService.Get();
    }

    private async Task DeleteProduct(Product product)
    {
        if(!await js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete this product ({product.Title})?"))
        {
            return;
        }

        await productService.Delete(product.Id);
        await GetProducts();
    }
}